header{
    position: fixed;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1200px;

        nav{
            >a{
                text-decoration: none;
                margin: 1.2rem;
                font-size: 1.125rem;
                color: $color-withe;
                font-weight: 600;
            }
        }

        .search{
            padding-right: 2.8rem;
            >input{
                padding: 0.8rem 5rem 0.8rem 0.3125rem;
                border: none;
                background: $color-input;
                color: $color-withe;
                outline: none;
                position: relative;
                border-top-left-radius: .4rem;
                border-bottom-left-radius: .4rem;
            }
            >input::placeholder{
                color: $color-withe;
            }
            >a{
                background: $color-light-purple;
                padding: 0.8rem 1rem 0.7rem 1rem; 
                font-size: 0.75rem;
                text-align: center;
                position: absolute;
                color: $color-withe;
                border-top-right-radius: .4rem;
                border-bottom-right-radius: .4rem;
                transition: .5s;

            }
            >a:hover{
                opacity: .6;
            }
        }
    }
}